:root {
    --black: #181818;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    background-color: #111
}

#app {
    background-color: var(--black);
}

.bg-semi-black {
    background-color: var(--black);
}